$primary: #ffc107;
$navbar: #2A2C2B;
$footer: $navbar;

// Light Mode
$background-light: #f8f9fa;
$background2-light: #eee;
$titletext-light: #5a5a5a;
$bodytext-light: #5a5a5a;
$light: #374140;
$drop-shadow-light: rgba(34,36,38,.15);

// Dark Mode
$background-dark: #374140;
$background2-dark: #434f4e;
$titletext-dark: #fff;
$bodytext-dark: #eee;
$dark: #EFC94C;
$drop-shadow-dark: rgba(230,235,240,.15);
